<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Jakuten Store</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style type="text/css">
    .bs-component + .bs-component {
        margin-top: 1rem;
    }
    @media (min-width: 768px) {
        .bs-docs-section {
        margin-top: 8em;
        }
        .bs-component {
        position: relative;
        }
        .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
        }
        .bs-component .modal-dialog {
        width: 90%;
        }
        .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
        }
        .nav-tabs {
        margin-bottom: 15px;
        }
        .progress {
        margin-bottom: 10px;
        }
    }

    body, tooltip, popover {
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    }
    @media all and (-ms-high-contrast: none) {
        body, tooltip, popover {
            font-family: Verdana, Meiryo, sans-serif;
        }
    }

    </style>

	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<header>
</header>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #102030; opacity: 0.9;">
    <a class="navbar-brand" href="/">
        <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22172.088%22%20height%3D%22121.686%22%20viewBox%3D%220%200%2045.532%2032.196%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M0%2025.524h45.532l-33.114%206.672z%22%2F%3E%3Cg%20style%3D%22line-height%3A1.25%22%3E%3Cpath%20style%3D%22-inkscape-font-specification%3A'Roboto%20Heavy'%22%20d%3D%22M19.824%200h6.04v17.24q0%202.4-1.121%204.28-1.105%201.882-3.107%202.917-1.984%201.036-4.435%201.036-4.107%200-6.386-2.071-2.278-2.071-2.278-5.868h6.075q0%201.726.587%202.502.604.777%202.002.777%201.26%200%201.933-.932.69-.95.69-2.64z%22%20font-weight%3D%22900%22%20font-family%3D%22Roboto%22%20aria-label%3D%22J%22%20font-size%3D%2242.476%22%20letter-spacing%3D%220%22%20word-spacing%3D%220%22%20stroke-width%3D%221.062%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M12.287%200h13.577v1.78H12.287z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" height="60px" />
    </a>
    <div class="navbar-collapse collapse" id="navbar">
        <a class="navbar-brand" href="/">
            弱天
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    商品カテゴリ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCat">
                    <a class="dropdown-item" href="/cat/food">食品</a>
                    <a class="dropdown-item" href="/cat/interior">インテリア</a>
                    <a class="dropdown-item" href="/cat/realestate">不動産</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#">配送</a></li>
            <li class="nav-item"><a class="nav-link" href="#">会社概要</a></li>
            <% if(session && session.user && session.user.id) { %>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%- session.user.display_name %> 様<span class="caret">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" href="/profile/<%- session.user.id %>">プロフィール</a>
                    <a class="dropdown-item" href="/history/<%- session.user.id %>">注文履歴</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">ログアウト</a>
                </div>
            </li>
            <% }else{ %>
            <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">ログイン</a></li>
            <% } %>
        </ul>
    </div>
    <div class="mt-2 mb-2 ml-auto mr-2">
        <% if(session && session.cart && session.cart.items && Object.keys(session.cart.items).length > 0) { %>
            <a class="d-inline-block" href="/cart">
                <img class="" src="data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221706.667%22%20height%3D%221436%22%20viewBox%3D%220%200%201280%201077%22%3E%3Cpath%20d%3D%22M41%201.6C23%206.3%208.8%2019.4%202.8%2036.7-.5%2046.3-.4%2062.8%203%2071.5c5%2012.9%2014.1%2023.6%2025%2029.4%2012.6%206.8%209%206.4%2080.5%206.8l65%20.4%2071.4%20285.4c45.1%20180.4%2072.5%20288.3%2074.5%20293.3%209.3%2023%2029%2044.4%2051.1%2055.5%208.8%204.4%2022.7%208.8%2032.5%2010.3%206.4.9%2019.2%201.4%2039%201.5%2016.2.1%2028.2.4%2026.5.6-49.3%205.9-91.6%2031.3-117.7%2070.8-36.6%2055.2-36.7%20125.2-.3%20179.5%2012.2%2018.2%2026.3%2032.2%2044.5%2044.5%2047.4%2031.9%20107.9%2036.2%20159.5%2011.5%2045.7-21.9%2077.8-63%2088.6-113.6%202.1-9.6%202.4-13.5%202.4-32.4-.1-18.3-.4-23-2.3-31.6-14.7-67.6-68.1-118-135.4-127.8-8-1.2%2023-1.4%20219.7-1.4%20194.5%200%20227.6.2%20219.5%201.3-68.2%209.6-121.5%2060.2-136.1%20129.5-3.3%2015.3-3.3%2045.8%200%2061%209.4%2044%2033.1%2079.7%2069%20103.6%2041.7%2027.9%2093%2034.8%20141%2018.8%2055-18.3%2095.7-64.8%20107.3-122.7%203.3-16.2%203.2-44.3%200-60.5-13.9-68.9-67.6-119.9-136.7-129.7-8.6-1.2-7.6-1.3%2021-1.4%2041.3-.2%2053.4-2.2%2072.9-12.4%2023.2-12%2042.7-33.7%2051.2-56.7%202.7-7.4%20143.2-522.4%20142.7-523.3-.6-.9-901-.9-901.7.1-.2.4%205.5%2024.7%2012.7%2054l13.2%2053.2h367.8c202.2%200%20367.7.1%20367.7.2-.1.2-23.2%2084.9-51.4%20188.3l-51.3%20188-308.6.3-308.6.2-1-3.7c-.6-2.1-32.5-129.9-71-284S275.7%2074.5%20274.1%2070C263%2039.6%20237.2%2015.1%20205.9%205.1%20190.7.2%20186.2%200%20114.1.1%2058.4.1%2045.5.4%2041%201.6zM500.1%20864c32.1%209.9%2047.5%2045.5%2032.6%2075.3-9.2%2018.5-27.2%2029.7-47.7%2029.7-29.9%200-54-24-54-53.7%200-23.7%2018.1-46.9%2040.6-52.2%207.3-1.7%2021.7-1.3%2028.5.9zm484-.4c18.2%205.3%2032.7%2020.1%2037.4%2037.9%201.9%207.6%201.9%2020.4%200%2028-4.4%2016.7-18.5%2031.6-35.1%2037.1-8.2%202.7-25.6%202.7-33.8%200-14.4-4.8-27.2-17-33.3-31.9-3.1-7.5-4.2-22.1-2.3-31%203.8-18.3%2019.8-35.2%2038.1-40.1%207.4-2%2022.2-2%2029%200z%22%20fill%3D%22%23cceeff%22%2F%3E%3C%2Fsvg%3E" height="30px" />
                <span class="badge badge-danger" style="margin-left: -10px"><%- session.cart.count %></span>
            </a>
        <% }else{ %>
            <img class="" src="data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221706.667%22%20height%3D%221436%22%20viewBox%3D%220%200%201280%201077%22%3E%3Cpath%20d%3D%22M41%201.6C23%206.3%208.8%2019.4%202.8%2036.7-.5%2046.3-.4%2062.8%203%2071.5c5%2012.9%2014.1%2023.6%2025%2029.4%2012.6%206.8%209%206.4%2080.5%206.8l65%20.4%2071.4%20285.4c45.1%20180.4%2072.5%20288.3%2074.5%20293.3%209.3%2023%2029%2044.4%2051.1%2055.5%208.8%204.4%2022.7%208.8%2032.5%2010.3%206.4.9%2019.2%201.4%2039%201.5%2016.2.1%2028.2.4%2026.5.6-49.3%205.9-91.6%2031.3-117.7%2070.8-36.6%2055.2-36.7%20125.2-.3%20179.5%2012.2%2018.2%2026.3%2032.2%2044.5%2044.5%2047.4%2031.9%20107.9%2036.2%20159.5%2011.5%2045.7-21.9%2077.8-63%2088.6-113.6%202.1-9.6%202.4-13.5%202.4-32.4-.1-18.3-.4-23-2.3-31.6-14.7-67.6-68.1-118-135.4-127.8-8-1.2%2023-1.4%20219.7-1.4%20194.5%200%20227.6.2%20219.5%201.3-68.2%209.6-121.5%2060.2-136.1%20129.5-3.3%2015.3-3.3%2045.8%200%2061%209.4%2044%2033.1%2079.7%2069%20103.6%2041.7%2027.9%2093%2034.8%20141%2018.8%2055-18.3%2095.7-64.8%20107.3-122.7%203.3-16.2%203.2-44.3%200-60.5-13.9-68.9-67.6-119.9-136.7-129.7-8.6-1.2-7.6-1.3%2021-1.4%2041.3-.2%2053.4-2.2%2072.9-12.4%2023.2-12%2042.7-33.7%2051.2-56.7%202.7-7.4%20143.2-522.4%20142.7-523.3-.6-.9-901-.9-901.7.1-.2.4%205.5%2024.7%2012.7%2054l13.2%2053.2h367.8c202.2%200%20367.7.1%20367.7.2-.1.2-23.2%2084.9-51.4%20188.3l-51.3%20188-308.6.3-308.6.2-1-3.7c-.6-2.1-32.5-129.9-71-284S275.7%2074.5%20274.1%2070C263%2039.6%20237.2%2015.1%20205.9%205.1%20190.7.2%20186.2%200%20114.1.1%2058.4.1%2045.5.4%2041%201.6zM500.1%20864c32.1%209.9%2047.5%2045.5%2032.6%2075.3-9.2%2018.5-27.2%2029.7-47.7%2029.7-29.9%200-54-24-54-53.7%200-23.7%2018.1-46.9%2040.6-52.2%207.3-1.7%2021.7-1.3%2028.5.9zm484-.4c18.2%205.3%2032.7%2020.1%2037.4%2037.9%201.9%207.6%201.9%2020.4%200%2028-4.4%2016.7-18.5%2031.6-35.1%2037.1-8.2%202.7-25.6%202.7-33.8%200-14.4-4.8-27.2-17-33.3-31.9-3.1-7.5-4.2-22.1-2.3-31%203.8-18.3%2019.8-35.2%2038.1-40.1%207.4-2%2022.2-2%2029%200z%22%20fill%3D%22%23cceeff%22%2F%3E%3C%2Fsvg%3E" height="30px" />
            <span class="badge badge-danger" style="margin-left: -10px; display: none"></span>
        <% } %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<%# ログイン・登録モーダル %>
<% if(!session || !session.user || !session.user.id) { %>

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ログイン</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <fieldset>
                    <div class="modal-body">
                        <div class="alert alert-warning" id="loginError" style="display: none">error</div>
                        <div class="form-group">
                            <label for="inputEmail">メールアドレス</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="you@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">パスワード</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="modal-footer">  
                        <div style="text-align: right">
                            <button type="reset" class="btn btn-secondary">リセット</button>
                            <button type="submit" class="btn btn-primary" id="submitLogin">送信</button>
                        </div>
                    </div>
                    <div class="modal-footer">  
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" aria-label="Close">新規登録</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="registerModal">
    <form id="registerForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">新規会員登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="registerConfirmationAlert" class="alert alert-info" style="display: none">下記の内容で登録します。よろしいですか？</div>
                    <div id="registerError" class="alert alert-danger" style="display: none"></div>
                    <fieldset id="registerFieldSet">
                        <div class="form-group">
                            <label for="inputEmail">メールアドレス</label>
                            <input type="email" class="form-control" id="registerEmail" placeholder="you@example.com" required />
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">パスワード</label>
                            <div class="row">
                                <div class="col"><input type="password" class="form-control" id="registerPassword" placeholder="4文字以上" minlength="4" required /></div>
                                <div class="col"><input type="password" class="form-control" id="registerPasswordConfirm" placeholder="確認" minlength="4"  required /></div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="">お名前</label>
                            <div class="row">
                                <div class="col"><input type="text" class="form-control" id="registerFamilyName" placeholder="姓" required></div>
                                <div class="col"><input type="text" class="form-control" id="registerFirstName" placeholder="名" required></div>
                            </div>
                            <label for="">よみがな</label>
                            <div class="row">
                                <div class="col"><input type="text" class="form-control" id="registerFamilyNameKana" placeholder="セイ" required></div>
                                <div class="col"><input type="text" class="form-control" id="registerFirstNameKana" placeholder="メイ" required></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer" id="inputRegister">
                    <button type="button" class="btn btn-secondary" id="resetRegister" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" aria-label="Close">戻る</button>
                    <button type="submit" class="btn btn-primary" id="submitRegister" onsubmit="return false;">次へ</button>
                </div>
                <div class="modal-footer" id="confirmRegister" style="display: none">
                    <button type="button" class="btn btn-secondary" id="resetConfirm">修正</button>
                    <button type="button" class="btn btn-primary" id="submitConfirm">登録</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        $('#submitLogin').on('click',function(){
            $('#loginError').css('display', 'none');
            $.ajax({
                url:'/api/login',
                type:'POST',
                data:{
                    'email':$('#inputEmail').val(),
                    'password':$('#inputPassword').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            })
            .fail( (data) => {
                $('.result').html(data);
                console.log(data);
                if(data.responseJSON.error){
                    $('#loginError').html(data.responseJSON.error);
                    $('#loginError').css('display', 'block');
                }
            })
            .always( (data) => {
            });
            return false;
        });
    });
    $(function(){
        $('#registerPasswordConfirm').on('input',function(){
            var $password = $('#registerPassword')[0];
            var $confirm = $('#registerPasswordConfirm')[0];
            console.log($password);
            if($password.value == $confirm.value){
                $confirm.setCustomValidity('');
            }else{
                $confirm.setCustomValidity('パスワードが確認と異なります');
            }
        });
    });
    $(function(){
        $('#registerForm').on('submit', function(event){
            event.preventDefault();
            var passwordInput = $('#registerPasswordConfirm')[0];
            $('#registerFieldSet input').addClass('form-control-plaintext');
            $('#registerModalTitle').text('登録内容確認');
            $('#confirmRegister').css('display', 'flex');
            $('#inputRegister').css('display', 'none');
            $('#registerConfirmationAlert').css('display', 'block');
            $('#registerErrorAlert').css('display', 'none');
            return false;
        });
    });
    $(function(){
        $('#resetConfirm').on('click',function(){
            $('#registerFieldSet input').removeClass('form-control-plaintext');
            $('#registerModalTitle').text('新規会員登録');
            $('#confirmRegister').css('display', 'none');
            $('#inputRegister').css('display', 'flex');
            $('#registerConfirmationAlert').css('display', 'none');
            $('#registerErrorAlert').css('display', 'none');
            return false;
        });
    });
    $(function(){
        $('#submitConfirm').on('click',function(){
            $.ajax({
                url:'/api/register',
                type:'POST',
                data:{
                    'email':$('#registerEmail').val(),
                    'password':$('#registerPassword').val(),
                    'first_name':$('#registerFirstName').val(),
                    'family_name':$('#registerFamilyName').val(),
                    'first_name_kana':$('#registerFirstNameKana').val(),
                    'family_name_kana':$('#registerFamilyNameKana').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            })
            .fail( (data) => {
                $('.result').html(data);
                $('#registerFieldSet input').removeClass('form-control-plaintext');
                $('#registerModalTitle').text('新規会員登録');
                $('#confirmRegister').css('display', 'none');
                $('#inputRegister').css('display', 'flex');
                $('#registerConfirmationAlert').css('display', 'none');
                console.log(data);
                if(data.responseJSON.error){
                    $('#registerError').html(data.responseJSON.error);
                    $('#registerError').css('display', 'block');
                }
            })
            .always( (data) => {
            });
            return false;
        });
    });
</script>
<% } %>

<%# ログアウトモーダル %>
<% if(session && session.user && session.user.id) { %>

<div class="modal" tabindex="-1" role="dialog" id="logoutModal">
    <form id="logoutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">ログアウト</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="registerConfirmationAlert" class="alert alert-warning">ログアウトします。よろしいですか？</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" id="submitLogout">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        // Ajax button click
        $('#submitLogout').on('click',function(){
            $.ajax({
                url:'/api/logout',
                type:'POST',
                data:{}
            })
            .always( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            });
            return false;
        });
    });
</script>

<% }; %>
<div style="padding-top: calc(8px*2 + 70px)">
    <% if( typeof banners !== 'undefined' ){ %>
        <div id="carouselTop" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
                <% for(var count = 1; count < banners.length; count++){ %>
                <li data-target="#carouselTop" data-slide-to="<%- count %>"></li>
                <% } %>
            </ol>
            <div class="carousel-inner">
                <% banners.forEach(function(banner){ %>
                <div class="carousel-item <%- (banner.id == 1 ) ? 'active' : '' %>">
                    <a  href="<%- banner.link %>">
                        <img class="d-block w-100" src="/img/banners/<%- banner.title %>.jpg" alt="<%- banner.desc %>">
                    </a>
                </div>
                <% }) %>
            </div>
            <a class="carousel-control-prev" href="#carouselTop" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">前へ</span>
            </a>
            <a class="carousel-control-next" href="#carouselTop" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">次へ</span>
            </a>
        </div>
    <% } %> 
    <div class="container">
        <section class="bs-docs-section mt-5">
            <div id="generalError" class="alert alert-danger" style="display:none"></div>
            <%- include(page, {}) %>
        </section>
    </div>
</div>


<div style="background-color: #102030; opacity: 0.9;color:white;text-align: right; padding-right:2em;position: fixed; bottom: 0; width:100%;">
Jakuten Store &nbsp;
<a href="/admin" style="color:white">管理者画面</a>
</div>

<script type="text/javascript">
    $('.bs-component [data-toggle="popover"]').popover();
    $('.bs-component [data-toggle="tooltip"]').tooltip();
</script>


</body>
</html>
