
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1>購入</h1>
            </div>
        </div>
        <% if(Object.keys(session.cart.items).length > 0){ %>
            <form id="purchaseForm">
                <% var c = 0; Object.keys(session.cart.items).forEach(function(key){ var item = session.cart.items[key]; %>
                <div class="m-2">
                    <div class="row">
                        <div class="col col-6 mt-auto mb-1">
                            <h5 class="mb-1"><%- item.name %></h5>
                            <p class="mb-1"><%- item.title %></p>
                        </div>
                        <div class="row col col-6">
                            <div class="col col-lg-6 col-12 mt-auto mb-1  text-right">
                                <label for="price_<%- item.sku %>" class="col-form-label">価格</label>
                                <span id="price_<%- item.sku %>"><%- item.price %></span>
                            </div><div class="col col-lg-6 col-12 mt-auto mb-1  text-right">
                                <label for="amount_<%- item.sku %>" class="col-form-label">数量</label>
                                <span id="price_<%- item.sku %>"><%- item.amount %></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <% }); %>
                <h4 class="col-12 text-right mt-1 mb-5 pr-2">合計金額：\ <%- session.cart.total %></h4>
                <div class="card w-100 mb-5"><div class="card-body">
                    <h3>決済情報の入力</h3>
                    <div class="form-group row">
                        <label for="pan"" class="col col-lg-2 col-5 text-right col-form-label" type="number" minlength="12" maxlength="19">カード番号</label>
                        <input id="pan" pattern="\d{2,4}-?\d{4}-?\d{4}-?\d{4}" class="col col-lg-10 col-7 form-control" placeholder="0123456789012345" required>
                    </div>
                    <div class="form-group row">
                        <label for="expire_month"" class="col col-lg-2 col-5 text-right col-form-label">有効期限</label>
                        <input id="expire_month" pattern="\d{2}" class="col col-lg-2 col-2 form-control" placeholder="月" min="1" max="12" required>
                        <span class="col col-lg-1 col-1 mt-2 mb-0 text-center">/</span>
                        <input id="expire_year" pattern="\d{2}" class="col col-lg-2 col-2 form-control" placeholder="年" required>
                        <label for="cvc" class="col col-lg-2 col-5 text-right col-form-label">CVV</label>
                        <input id="cvc" pattern="\d{3}" class="col col-lg-3 col-5 form-control" placeholder="999" required>
                    </div>
                </div></div>
                <div class="card w-100 mb-5"><div class="card-body">
                    <h3>配送情報の入力</h3>
                    <div class="form-group row">
                        <label for="zip"" class="col col-lg-2 col-5 text-right col-form-label">郵便番号</label>
                        <input id="zip" pattern="\d{3}-?\d{4}"  class="col col-lg-3 col-7 form-control" placeholder="000-0000" required>
                        <label for="tel"" class="col col-lg-2 col-5 text-right col-form-label">電話番号</label>
                        <input id="tel" pattern="\d{1,6}-?\d{0,4}-?\d{4}" class="col col-lg-5 col-7 form-control" placeholder="000-000-0000" required>
                    </div>
                    <div class="form-group row">
                        <label for="shipping_address"" class="col col-lg-2 col-5 text-right col-form-label">住所</label>
                        <input id="shipping_address" type="text" class="col col-lg-10 col-7 form-control" placeholder="東京都千代田区千代田１－１－１" required>
                        <input id="total" type="hidden" value="<%- session.cart.total %>">
                    </div>
                </div></div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg px-5">購入を完了する</button>
                </div>
            </form>
        <% }else{ %>
            <div class="m-2">
                <div class="card">
                    <div class="card-body">
                        商品が入っていません。
                    </div>
                </div>
            </div>
        <% } %>
    </section>

</div>
<script type="text/javascript">
    $(function(){
        $('#purchaseForm').on('submit',function(){
            $.ajax({
                url:'/api/checkout',
                type:'POST',
                data:{
                    'pan':$('#pan').val(),
                    'expire_month':$('#expire_month').val(),
                    'expire_year':$('#expire_year').val(),
                    'cvc':$('#cvc').val(),
                    'zip':$('#zip').val(),
                    'tel':$('#tel').val(),
                    'shipping_address':$('#shipping_address').val(),
                    'total':$('#total').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.href="/thanks";
            })
            .fail( (data) => {
                $('.result').html(data);
                $('#purchaseErrorAlert').text(data.responseJSON.error);
                console.log(data);
            })
            .always( (data) => {
            });
            return false;
        });
    });
</script>
