
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1>購入履歴</h1>
            </div>
        </div>
        <% Object.keys(histories).forEach(function(key){ var entry = histories[key].items; %>
            <% entry.forEach(function(item){ %>
                <p>
                <img src="/img/items/<%- item.sku %>_s.jpg" class="img-fluid"/>
                <%- item.item_name %>
                <%- item.item_title %>
                <%- item.price %>
                <%- item.amount %>
                </p>
            <% }); %>
            <%-  histories[key].total %>
            <hr/>
        <% }); %>
    </section>

</div>
