
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row mb-2">
            <div class="col-lg-6">
                <img src="/img/items/<%= item.sku %>_l.jpg" class="img-fluid rounded"/>
            </div>
            <div class="col-lg-6">
                <h1 class="display-1"><%= item.name %></h1>
                <p class="lead"><%= item.title %></h3>
                <p><%= item.desc %></p>
                <div class="card rounded  m-3">
                    <h5 class="card-header">価格</h5>
                    <h3 class="card-body text-right"><strike class="text-danger">\<%= item.original_price %></strike> → \ <%= item.sale_price %></h3>
                </div>
                <form id="shoppingCartForm">
                    <div class="form-row m-3">
                        <div class="input-group input-group-lg m-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="input-group-amount">数量</span>
                            </div>
                            <input id="addCartAmount" aria-describedby="input-group-amount" type="number" pattern="\d+" class="form-control" placeholder="1" value="1" required>
                            <div class="input-group-append">
                                <button id="addCartSubmit" type="button" class="btn btn-primary">買い物かごに入れる</button>
                            </div>
                        </div>
                        <input id="addCartItem" type="hidden" value="<%= item.id %>">
                    </div>
                </form>
            </div>

        </div>
    </section>

</div>

<script type="text/javascript">
    $(function(){
        $('#addCartSubmit').on('click',function(){
            $.ajax({
                url:'/api/addCart',
                type:'POST',
                data:{
                    'item':$('#addCartItem').val(),
                    'amount':$('#addCartAmount').val()
                }
            })
            .done( (data) => {
                $('.result').html(data);
                console.log(data);
                location.reload();
            })
            .fail( (data) => {
                $('.result').html(data);
                console.log(data);
            })
            .always( (data) => {
            });
            return false;
        });
    });
</script>