
<div class="container">
    <section class="bs-docs-section mt-5">
        <div class="row mb-2">
            <div class="col-lg-6">
                <p><%= user[0] %></p>
                <p><%= user[1] %></p>
                <p><%= user[2] %></p>
                <p><%= user[3] %></p>
                <p><%= user[4] %></p>
                <p><%= user[5] %></p>
            </div>
        </div>
    </section>

</div>

    